
body {
    font-family: "Verdana";
    background-color: #92A7B5}

nav#nav {
    background-color: #DB9354;


}

nav {
    width: 101.3%;
    margin: -21px -.8% 0 -.8%;

}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav a:hover {
    background-color: #FCC573;
}

.indexbut {
    background-color: #DB9354;
    color: black;
    border: none;
    padding: 50px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.indexbut:hover {
    background-color: #FCC573;
    color: black;
}

a {
    margin-left: 2%;
    color: black;
}

h1 {
    font-family: 'Chango';
    font-size: 250%;
    text-indent: 3%;
    padding: 25px 20px 25px 10px;
    line-height: 31px;
    float: left;
    margin: auto;
}
.ind {
    margin-left: 105px;
}

h2 {
    font-family: 'Chango';
    font-size: 200%;
    text-align: center;
}
h3 {
    font-size: 150%;
    text-indent: 3%;
    text-align: left;
}
h4 {
    font-size: 100%;
    text-indent: 3%}
h5 {
    margin: 10px 0;
}
p {
    padding: 0% 5% 0% 2%;
    text-align: justify;

}

hr {
    border: 1px solid black;
}
.warn {
    color: red;
    text-align: center}


figcaption {
    text-align: center;
}

footer {
    max-height: 200px;
    background-color: #84889C;
    padding: 1em 3em 1em 3em;
    border-radius: 30px/15%;
    clear: both;
}

.mainimg {
    max-width: 600px;
    display: block;
    margin: 30px auto 10px auto;
    border: 10px solid #4C545C;
    border-radius: 30px;

}
.indexbox {
    text-align: left;
    width: 1000px;
    border-radius: 30px;
    border-color: #84889C;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: auto;
}


/* CJ STUFF**************************************************** */
.cjimg figure {
    float: left;
    margin: 5px;
}


.cjimg div {
    text-align: center;
    width: 90%;
    border-radius: 30px;
    border-color: #DB9354;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: 5px 20px 8% 20px;
    background-color: #FCC573;

}


.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cj {
    background-image: url("slay.jpg");
    background-size: 100% 58.2em;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* AVA STUFF ************************************************************ */
body#ava {
    text-align: left;
}
body#ava h5,
h4 {
    font-size: 105%;
    text-align: left;
}
body#ava span {
    font-weight: bold;
}
body#ava p {
    padding: 0;
    margin: 0;
    text-align: left;
}

/* SPECS ********************* */
.ava-basics {
    text-align: center;
    max-width: 90%;
    border-radius: 30px;
    border-color: #DB9354;
    border-style: solid;
    border-width: 10px;
    padding: 1% 3% 1% 1%;
    margin: 25px 40px 10px 40px;
    background-color: #FCC573;
    float: left;

}
.ava-basics span {
    font-weight: bold;
}
div#avaspecs {
    display: block;
    float: left;
    width: 25%;
}
.ava-fig {
    padding: 0;
    float: left;
    margin: 25px 0 0 10px;
    width: 25%;
    height: 400px;

}
.ava-img {
    padding: 0;
    margin: -16px 0 0 0;
    width: 20%;
    background: black;
    width: auto;
    height: 400px;
}
div#num1 {max-width: 63%;
}


/* CSS HEX
--#FCC573;
--#92A7B5;
--#84889C;
--#4C545C;
--#DB9354;
--; 
 * ogborder: #8ac1c1
 * ogbg: #eef6f6*/
