body {
    font-family: "Verdana";
    background-color: #92A7B5}
h1 {
    font-size: 250%;
    text-indent: 3%;
}
h2 {
    font-size: 200%;
    text-align: center;
}
h3 {
    font-size: 150%;
    text-indent: 10px;
}
p {
    padding: 0% 5% 0% 2%;
    text-align: justify;
    
}
hr {
    border: 1px solid black;
}
.warn {
    color: red;
    text-align: center}

.img2 figure {
    float: left;
    margin: 5px;
}
figcaption {text-align:center}

footer {
    background-color: #84889C;
    padding: 1% 3% 1% 3%;
    border-radius: 1%/15%}

nav {
    text-align: center;
    word-spacing: 10px;
    padding: 1% 5% 1% 5%;
}

.img1 {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px solid #4C545C;
    border-radius: 30px;
    float: none}



.box {
    text-align: center;
    width: 500px;
    border-radius: 30px;
    border-color: #84889C;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: auto;
}
.img2 div {
    text-align: center;
    width: 90%;
    border-radius: 30px;
    border-color: #DB9354;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: 5px 20px 8% 20px;
    background-color:#FCC573;
    
}


.center {
    text-align:center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}


/* CSS HEX
--#FCC573;
--#92A7B5;
--#84889C;
--#4C545C;
--#DB9354;
--; 
 * ogborder: #8ac1c1
 * ogbg: #eef6f6*/

