
body {
    font-family: "Verdana";
    background-color: #92A7B5}

nav#nav {
    margin: 0;
    background-color: #DB9354;
}

nav {
    width: 100%;
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a:hover {
    background-color: #FCC573;
}

.indexbut {
    background-color: #DB9354;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.indexbut:hover {
    background-color: #FCC573;
    color: black;
}

a {
    padding-left: 2%;
}

h1 {
    font-size: 250%;
    text-indent: 3%;
}
h2 {
    font-size: 200%;
    text-align: center;
}
h3 {
    font-size: 150%;
    text-indent: 3%;
    text-align: left;
}
h4 {
    font-size: 100%;
    text-indent: 3%}
p {
    padding: 0% 5% 0% 2%;
    text-align: justify;

}

hr {
    border: 1px solid black;
}
.warn {
    color: red;
    text-align: center}


figcaption {
    text-align: center
}

footer {
    background-color: #84889C;
    padding: 1em 3em 1em 3em;
    border-radius: 1%/15%}



.navbox {
    background: #DB9354;
    width: 2000px;
}

.mainimg {
    max-width: 600px;
    display: block;
    margin: 50px auto 10px auto;
    border: 10px solid #4C545C;
    border-radius: 30px;

}

.cjimg figure {
    float: left;
    margin: 5px;
}

.indexbox {
    text-align: center;
    width: 500px;
    border-radius: 30px;
    border-color: #84889C;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: auto;
}
.cjimg div {
    text-align: center;
    width: 90%;
    border-radius: 30px;
    border-color: #DB9354;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    margin: 5px 20px 8% 20px;
    background-color: #FCC573;

}


.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cj {
    background-image: url("slay.jpg");
    background-size: 100% 58.2em;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* AVA STUFF ************************************************************ */
body#ava{text-align: left;}
body#ava h5, h4 {font-size: 105%;
text-align: left;}
body#ava span {font-weight: bold;}
body#ava p{padding: 0;
    margin: 0;
    text-align: left;}
    
/* SPECS ********************* */
.ava-basics {
    text-align: center;
    width: 65%;
    border-radius: 30px;
    border-color: #DB9354;
    border-style: solid;
    border-width: 10px;
    padding: 1% 3% 1% 1%;
    margin-right: 10px;
    background-color: #FCC573;
    float: left;
}
.ava-basics span {
    font-weight: bold;
}
div#avaspecs {display: block;
float: left;
width:25%;}

.ava-img {
    top: 2000px;
    right: 100px;
    margin: 10px 30px 10px 60px;
    padding: 0;
    width: 20%;
    background: black;
    float: left;
}


/* CSS HEX
--#FCC573;
--#92A7B5;
--#84889C;
--#4C545C;
--#DB9354;
--; 
 * ogborder: #8ac1c1
 * ogbg: #eef6f6*/
